<section class="aboutAppContainer container">
	<div class="about">
		<h1 class="aboutAppTittle">Sobre o aplicativo</h1>
		<p>
			A criação do <strong>AprendeTI</strong> nasce da vontade de democratizar o acesso à
			educação e à capacitação profissional na área de Tecnologia da Informação.
			Em um cenário onde a formação é essencial para acompanhar as inovações,
			muitos talentos enfrentam dificuldades para encontrar oportunidades
			acessíveis e de qualidade. O aprendeTI surge para conectar pessoas com
			recursos educativos gratuitos, cursos e experiências que possibilitem uma
			carreira em TI, promovendo a inclusão e ampliando o alcance do
			conhecimento. Com uma plataforma de blogs acessível e dinâmica, buscamos
			motivar, informar e transformar trajetórias, tornando a educação em TI uma
			realidade para todos.
		</p>
	</div>
	<div class="aboutAuthors">
		<h2 class="aboutAppAuthors">Autores</h2>
        <p>Este projeto foi desenvolvido durante a realização do curso "Projeto Extensionista" da grade de Ciência da Computação da <strong>Universidade Cruzeiro do Sul</strong>,  e os autores são:</p>
        <ul>
            <li>João Victor Ferreira de Paula - RGM: 34241434</li>
            <li>Victor Giovanni Danna Nogueira - RGM: 33497842</li>
			<li>Roberto Messias Dalpino Alves - RGM: 33982082</li>
			<li>Guilherme Oliveira de Souza- RGM: 33819777</li>
			<li>Arthur Cardoso de Lima - RGM: 33561095</li>
			<li>Cesar William carrilho - RGM: 33703159</li>
        </ul>
	</div>
</section>
