footer {
    margin-top: 3rem;
	width: 100%;
	font-size: var(--size-xl);
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer img {
	margin-top: 10px;
	margin-left: 0.5rem;
	cursor: pointer;
}

footer img:hover {
	transform: scale(1.05);
}

/* XS */
@media (min-width: 475px) {
	footer {
		font-size: var(--size-2xl);
	}
}

/* M */
@media (min-width: 768px) {
	footer {
		font-size: var(--size-3xl);
	}
}
