.cardContainer {
    margin-bottom: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.newsCardImage img {
    max-width: 100%;
}

.newsDate {
    color: var(--clr-slate400);
    font-size: var(--size-xs);
}

.aboutNews h2 {
    font-size: var(--size-3xl);
    margin-bottom: 0.5rem;
    color: var(--clr-indigo);
}

.aboutNews p {
    font-size: var(--size-s);
}

/* XS */
@media (min-width: 475px) {
	.aboutNews p {
        font-size: var(--size-base);
    }
}

/* S */
@media (min-width: 640px) {
	.aboutNews h2 {
        font-size: var(--size-4xl);
    }
}
