nav {
	display: flex;
	justify-content: center;
	padding-top: 1.5rem;
}

.navigation {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: space-around;
}

.navigation li {
	font-size: 1rem;
	font-weight: 700;
	margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation li a img {
	max-width: var(--size-2xl);
}

.navigation li a {
	font-size: var(--size-xs);
	transition: 0.5s;
}

.navigation li:hover {
	transform: scale(1.05);
}

.navigation li a:hover {
	color: var(--clr-rose);
}

/* XS */
@media (min-width: 475px) {
	.navigation li a {
		font-size: var(--size-s);
	}

    .navigation li a img {
		max-width: var(--size-3xl);
	}
}

/* S */
@media (min-width: 640px) {
	.navigation li a {
		font-size: var(--size-base);
	}

	.navigation li a img {
		max-width: var(--size-3xl);
	}
}

/* L */
@media (min-width: 1024px) {
	.navigation li a {
		font-size: var(--size-l);
	}

	.navigation li a img {
		max-width: var(--size-4xl);
	}
}

/* XL */
@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
}

/* 2XL */
@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
}
